@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #3A357E;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgb(115, 115, 243), rgb(119, 78, 216));
}

.wrapper{
    width: 420px;
    background: white;
    color: #3A357E;
    border-radius: 10px;
    padding: 30px 40px;
    display: grid;
	justify-items: center;
}

.wrapper1{
    width: 700px;
    background: white;
    color: #3A357E;
    border-radius: 10px;
    padding: 30px 40px;
    display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, min-content);
}

.wrapper1 form{
    margin: 50px 10px 50px 10px; 
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper1 h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper1 .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color:#aab1ffb6 ;
    border: none;
    outline: none;
    border: 2px solid rgb(170, 177, 255);
    border-radius: 20px;
    font-size: 16px;
    color: #3A357E;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #5c3da37d;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #3A357E;
    margin-right: 3px;
}

.remember-forgot a{
    color: #3A357E;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #3A357E;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper1 .btn{
    width: 100%;
    height: 45px;
    background: #3A357E;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .btn:hover{
    background-color: #CCBBF3;
    color: #3A357E;
    font-weight: 600;
}

.wrapper1 .btn:hover{
    background-color: #CCBBF3;
    color: #3A357E;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper1 .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #3A357E;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.wrapper1 .contact-link{
    font-size: 14.5px;
    text-align: center;
    margin: 170px 10px 170px 10px; 
    background-color: #ccbbf36c;
    border-radius: 2rem;
}

.contact-link p{
    color: #3A357E;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    margin: 15px 10px 15px 10px;
}

.contact-link h1{
    color: #3a357ede;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
    margin: 5px 20px 5px 20px;
}

.contact-link a{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.contact-link a:hover{
    text-decoration: underline;
}


/*form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px #3A357E;
}

form .title {
    color: #000000;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: #5C3DA3;
    border-bottom: solid 1px var(--primary-color);
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder {
    color: rgba(37, 37, 37, 0.5);
}


form .link {
    color:#5C3DA3;
    margin-bottom: 15px;
    font-weight: bold;
}

form button {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #3A357E;
    color: #ffffff;
    margin-top: 15px;
    margin-right: 90px;
    margin-left: 90px;
    cursor: pointer;
}

form button:hover{
    background-color: #CCBBF3;
    color: #3A357E;
    font-weight: bold;
}

*/
